<!-- Soccer Picker betting form template -->
<div class="app-controller col-xs-12" id="winPage">
    <img class="couch-logo top-logo logo" src="{{ logo.src }}" />
	<ul class="bet-summary-list">
		<li class="bet-summary-list-item">{{ bet.text }}<span class="bet-summary-list-item-value">{{ bet.value }}</span></li>
	</ul>
	<form class="win-form">
		<label class="text-how-much">{{ form.win.text }}</label>
		<div class="text-input-wrapper">
			<span class="denomination">$</span>
			<input class="text-input-value btn-" />
		</div>
		<button class="submit-link" data-rel="summaryPage">Results</button>
	</form>
</div>
